.booking-appointment-main-con{
    margin: 40px 0px 0px 0px;
}

.appointment-booking-datepicker-details-main-con{
    margin: 10px 0px;
}

.appointment-booking-datepicker-main-con{
    margin: 20px 0px;
}

.appointment-booking-datepicker-details-btn-main-con{
    margin: 30px 0px 0px 0px;
    text-align: left;
}

.appointment-booking-datepicker-details-btn-main-con button{
    width: 100%;
    border: none;
    padding: 10px 0px;
    color: white;
    background-color: black;
}

.appointment-booking-time-slot-main-con{
    text-align: left;
    margin: 30px 0px 0px 0px;
}

.appointment-booikng-slot-main-con{
margin: 10px 0px;
}

.appointment-booikng-slot-main-con{
    border: 1px solid var(---primaryColor);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color: var(---primaryColor);
}


.slot-booking-btn-main{
    margin: 20px 0px 0px 0px;
}

.slot-booking-btn-main button {
    width: 100%;
    border: none;
    padding: 10px 0px;
    color: white;
    background-color: black;
}